<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
</head>
<body>
<div id="button-group">
    <button id="buttonFullPullDevice">FullPull Device</button>
    <button id="buttonFullPullFolder">FullPull Folder</button>
    <button id="buttonFullPullPhoto">FullPull Photo</button>
    <button id="buttonFullPullLabel">FullPull Label</button>
    <button id="buttonIncrease">Increase</button>
    <button id="buttonRecreateAllTable">RecreateAllTable</button>
    <button id="buttonReinitializeAllTable">ReinitializeAllTable</button>
</div>

<label for="result-display">Result display area: </label>
<br/>
<textarea id="result-display" style="width: 500px; height: 400px"></textarea>

<script th:src="@{frame.js}"></script>
<script th:inline="javascript"></script>
</body>
</html>